name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: "19 19 */7 * *"
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  hadolint:
    uses: peaceiris/workflows/.github/workflows/hadolint.yml@main

  main:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      contents: read
      packages: write
    timeout-minutes: 5
    strategy:
      matrix:
        type:
          - "slim"
          - "mod"
          - "full"
    steps:
      - uses: actions/checkout@v3

      # https://github.com/peaceiris/workflows/blob/main/setup-go/action.yml
      - uses: peaceiris/workflows/setup-go@v0.19.1
        with:
          go-version-file: "deps/go.mod"

      - uses: peaceiris/actions-export-envs@v1.1.0
        id: envs

      - name: make build-${{ matrix.type }} with cache
        run: make build-${{ matrix.type }}
        if: ${{ github.event_name == 'pull_request' }}
        env:
          ACTIONS_RUNTIME_TOKEN: ${{ steps.envs.outputs.ACTIONS_RUNTIME_TOKEN }}
          ACTIONS_CACHE_URL: ${{ steps.envs.outputs.ACTIONS_CACHE_URL }}

      - name: make build-${{ matrix.type }} without cache
        run: make build-${{ matrix.type }}
        if: ${{ github.event_name != 'pull_request' }}
        env:
          DOCKER_ENABLE_CACHE: true

      - name: docker login
        if: github.event_name != 'pull_request'
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make login
          make login-ghcr

      - run: make push-${{ matrix.type }}
        if: github.event_name != 'pull_request'
