name: CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  hadolint:
    uses: peaceiris/workflows/.github/workflows/hadolint.yml@main

  main:
    runs-on: ubuntu-20.04
    permissions:
      actions: write
      contents: read
      packages: write
    timeout-minutes: 5
    strategy:
      matrix:
        type:
          - "slim"
          - "mod"
          - "full"
    steps:
      - uses: actions/checkout@v3

      - name: Set versions
        id: versions
        run: |
          echo "::set-output name=GO_VERSION::$(make get-go-version)"

      # https://github.com/peaceiris/workflows/blob/main/setup-go/action.yml
      - uses: peaceiris/workflows/setup-go@v0.15.0
        with:
          go-version: "${{ steps.versions.outputs.GO_VERSION }}"

      - run: make build-${{ matrix.type }}

      - name: docker login
        if: github.event_name != 'pull_request'
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make login
          make login-ghcr

      - run: make push-${{ matrix.type }}
        if: github.event_name != 'pull_request'
