name: Docker Image Push

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  release:
    types: [published]

permissions:
  actions: write
  contents: read
  packages: write

env:
  DOCKER_BASE_NAME: ghcr.io/peaceiris/hugo
  DOCKER_HUB_BASE_NAME: peaceiris/hugo

jobs:
  hadolint:
    runs-on: ubuntu-20.04
    container:
      image: "ghcr.io/hadolint/hadolint:v2.7.0-alpine"
    steps:
      - uses: actions/checkout@v2.4.0
      - run: hadolint ./Dockerfile

  push:
    runs-on: ubuntu-20.04
    needs: hadolint
    strategy:
      matrix:
        baseimage:
          - "alpine:3.14"
          - "golang:1.17-alpine3.14"
        node: [false, true]
        exclude:
          - baseimage: "alpine:3.14"
            node: true
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v2.4.0

      - uses: docker/setup-qemu-action@v1
      - run: docker version

      - name: Login to Registries
        if: ${{ github.event_name != 'pull_request' }}
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u peaceiris --password-stdin
          echo "${DOCKER_HUB_TOKEN}" | docker login -u peaceiris --password-stdin

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "${GITHUB_CONTEXT}"

      - name: Set env
        run: |
          if [ "${{ github.event_name }}" = 'release' ]; then
            export TAG_NAME="${{ github.event.release.tag_name }}"
          else
            export TAG_NAME="latest"
          fi
          if [ "${{ startsWith( matrix.baseimage, 'golang') }}" = "true" ]; then
            if [ "${{ matrix.node }}" = "true" ]; then
              export TAG_NAME="${TAG_NAME}-full"
            else
              export TAG_NAME="${TAG_NAME}-mod"
            fi
          fi
          echo "PKG_TAG=${DOCKER_BASE_NAME}:${TAG_NAME}" >> ${GITHUB_ENV}
          echo "HUB_TAG=${DOCKER_HUB_BASE_NAME}:${TAG_NAME}" >> ${GITHUB_ENV}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx

      - name: Build ${{ matrix.baseimage }} base image on pull_request
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker buildx create --use --driver docker-container
          docker buildx build . \
            --tag "${PKG_TAG}" \
            --build-arg BASE_IMAGE="${{ matrix.baseimage }}" \
            --build-arg INSTALL_NODE="${{ matrix.node }}" \
            --cache-from 'type=local,src=/tmp/.buildx-cache' \
            --cache-to 'type=local,mode=max,dest=/tmp/.buildx-cache-new' \
            --output 'type=docker'
          docker tag "${PKG_TAG}" "${HUB_TAG}"

      - name: Build ${{ matrix.baseimage }} base image
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          docker buildx create --use --driver docker-container
          docker buildx build . \
            --tag "${PKG_TAG}" \
            --tag "${HUB_TAG}" \
            --build-arg BASE_IMAGE="${{ matrix.baseimage }}" \
            --build-arg INSTALL_NODE="${{ matrix.node }}" \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --cache-from 'type=local,src=/tmp/.buildx-cache' \
            --cache-to 'type=local,mode=max,dest=/tmp/.buildx-cache-new' \
            --push

      - name: Replace cache dir
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - run: docker images
        if: ${{ github.event_name == 'pull_request' }}
      - run: docker run --rm ${PKG_TAG} version
        if: ${{ github.event_name == 'pull_request' }}
